@media screen and (max-width: 600px) {
  .container {
    width: 95%;
  }
}

@media screen and (max-width: 500px) {
  .inputs-container {
    flex-direction: column;
  }

  .inputs-container > input {
    width: 95%;
    margin: 15px 0;
  }

  .container > button {
    margin-bottom: 10px;
  }

  /* NTH CHILD */
  .inputs-container > input:nth-child(1) {
    margin: 0;
  }
}

@media screen and (max-width: 300px) {
  .container > button {
    width: 90%;
  }
}
