@media screen and (max-width: 740px) {
  .container {
    width: 90%;
  }
  .inputs-container > input {
    margin: 10px 0;
  }
  .inputs-container {
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 330px) {
  .inputs-container > input {
    width: 90%;
  }

  .container > button {
    width: 90%;
  }
}
